.homePage-wrapper{
  display: flex;
  .main-content{
    min-height: 100vh;
    width: 100%;
    .navigation{
      height: 90px;
      background: rgb(223, 221, 221);
      display: flex;
      align-items: center;
      .hideSideBarIcon{
        font-size: 25px;
        font-weight: 550;
        width: 90px;
        padding: 20px;
      }
    }
    .home-content-wrapper{
        
    }
  }
}
