.menu-wrapper {
  padding: 20px;
  overflow-y: scroll;
  height: calc(100vh - 40px);
  background: rgb(58, 58, 58);
  overflow-x: hidden;
  .button-operator{
      margin: 5px 0;
      button{
          margin-right: 12px;
      }
  }
  .form{
    .image-avt{
      object-fit: cover;
      margin-top: 15px;
      height: 200px;
      width: 150px;
      border-radius: 6.4px;
    }
  }
}
.menu-wrapper::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}
